page-ciclo-detalhe {
    * {
        font-size: .97em;
    }
    div.grupos>.row {
        background-color: whitesmoke;
    }
    .toolbar-background {
        background-color: #000066;
    }
    .toolbar-title {
        color: white;
    }
    .barra-mes {
        background: #E7C901; //#FFDE00;
    }
    .scroll-content {
        background-image: url('../assets/img/floresta-da-tijuca.jpg');
        background-repeat: no-repeat;
        background-size: cover;
    }
    .header {
        background-color: lightgrey;
        font-weight: bold;
    }
    .penalidade {
        color: red;
    }
    .total {
        background-color: lightgrey;
        font-weight: bold;
    }
    .total-linha {
        border-left: solid 1px lightgrey;
        font-weight: bold;
    }
    .total-geral {
        font-weight: bold;
        color: white;
        background-color: map-get($colors, primary);
    }
    .row:not(.total):not(.fake):not(.grupos) {
        border-bottom: solid 1px lightgrey;
    }
    ion-card {
        max-width: 400px;
    }
}