<ion-header>

    <ion-navbar>
        <ion-title>Torneio de eficiência</ion-title>
    </ion-navbar>
</ion-header>

<ion-content>
    <ion-slides pager="true" effect="cube" loop="true" direction="horizontal" initialSlide="{{ initialSlide }}">
        <ion-slide *ngFor="let patrulha of item.patrulha | mapToIterable" no-padding>
            <ion-card no-padding>
                <ion-card-header no-padding>
                    <ion-item class="barra-mes">
                        <h2 text-center>{{item.nome}}</h2>
                    </ion-item>
                </ion-card-header>

                <ion-card-content>
                    <ion-item no-padding>
                        <ion-avatar item-start>
                            <img [src]="patrulha.val.avatar">
                            <p>{{patrulha.val.nome}}</p>
                        </ion-avatar>
                        <progress-bar progress="{{ patrulha.val.totais.geral }}" maximum="{{ item.maxPontos }}" color="{{ patrulha.val.cor }}"></progress-bar>
                    </ion-item>

                    <div>
                        <ion-segment [(ngModel)]="subGrupo">
                            <ion-segment-button primary value="reuniao">
                                Reunião
                            </ion-segment-button>
                            <ion-segment-button primary value="extras">
                                Extras
                            </ion-segment-button>
                            <ion-segment-button primary value="mensal">
                                Mensal
                            </ion-segment-button>
                        </ion-segment>
                    </div>

                    <div [ngSwitch]="subGrupo" no-padding>
                        <ion-grid *ngSwitchCase="'reuniao'">
                            <ion-row class="header">
                                <ion-col col-4 text-left></ion-col>
                                <ion-col text-center>DIAS</ion-col>
                                <ion-col col-1 text-left></ion-col>
                            </ion-row>
                            <ion-row class="header">
                                <ion-col col-4> </ion-col>
                                <ion-col text-right *ngFor="let dia of patrulha.val.pontos.dia | mapToIterableSorted">
                                    {{dia.key}}
                                </ion-col>
                                <ion-col text-right class="total">&nbsp;&nbsp;</ion-col>
                            </ion-row>
                            <ion-row>
                                <ion-col col-4 text-left>Pontualidade</ion-col>
                                <ion-col text-right *ngFor="let dia of patrulha.val.pontos.dia | mapToIterableSorted">
                                    {{dia.val.pontualidade}}
                                </ion-col>
                                <ion-col text-right class="total-linha">{{ patrulha.val.totais.totalPontualidade }}</ion-col>
                            </ion-row>
                            <ion-row>
                                <ion-col col-4 text-left>Presença</ion-col>
                                <ion-col text-right *ngFor="let dia of patrulha.val.pontos.dia | mapToIterableSorted">
                                    {{dia.val.presenca}}
                                </ion-col>
                                <ion-col text-right class="total-linha">{{ patrulha.val.totais.totalPresenca }}</ion-col>
                            </ion-row>
                            <ion-row>
                                <ion-col col-4 text-left>Inspeção</ion-col>
                                <ion-col text-right *ngFor="let dia of patrulha.val.pontos.dia | mapToIterableSorted">
                                    {{dia.val.vestuario}}
                                </ion-col>
                                <ion-col text-right class="total-linha">{{ patrulha.val.totais.totalVestuario }}</ion-col>
                            </ion-row>
                            <ion-row>
                                <ion-col col-4 text-left>Participação</ion-col>
                                <ion-col text-right *ngFor="let dia of patrulha.val.pontos.dia | mapToIterableSorted">
                                    {{dia.val.participacao}}
                                </ion-col>
                                <ion-col text-right class="total-linha">{{ patrulha.val.totais.totalParticipacao }}</ion-col>
                            </ion-row>
                            <ion-row>
                                <ion-col col-4 text-left>Espírito Escoteiro</ion-col>
                                <ion-col text-right *ngFor="let dia of patrulha.val.pontos.dia | mapToIterableSorted">
                                    {{dia.val.espiritoEscoteiro}}
                                </ion-col>
                                <ion-col text-right class="total-linha">{{ patrulha.val.totais.totalEspiritoEscoteiro }}</ion-col>
                            </ion-row>
                            <ion-row>
                                <ion-col col-4 text-left>Jogo Técnico</ion-col>
                                <ion-col text-right *ngFor="let dia of patrulha.val.pontos.dia | mapToIterableSorted">
                                    {{dia.val.jogoTecnico}}
                                </ion-col>
                                <ion-col text-right class="total-linha">{{ patrulha.val.totais.totalJogoTecnico }}</ion-col>
                            </ion-row>
                            <ion-row class="total">
                                <ion-col col-4 text-left>Total</ion-col>
                                <ion-col text-right *ngFor="let dia of patrulha.val.pontos.dia | mapToIterableSorted">
                                    {{ patrulha.val.totais.totalDiaReuniao[dia.key] }}
                                </ion-col>
                                <ion-col text-right class="total total-geral">
                                    {{ patrulha.val.totais.totalGeralReuniao}}
                                </ion-col>
                            </ion-row>
                        </ion-grid>

                        <ion-grid *ngSwitchCase="'extras'">
                            <ion-row class="header">
                                <ion-col col-4 text-left></ion-col>
                                <ion-col text-center>DIAS</ion-col>
                                <ion-col col-1 text-left></ion-col>
                            </ion-row>
                            <ion-row class="header">
                                <ion-col col-4 text-left></ion-col>
                                <ion-col text-right *ngFor="let dia of patrulha.val.pontos.dia | mapToIterableSorted">
                                    {{dia.key}}
                                </ion-col>
                                <ion-col text-right class="total-linha"></ion-col>
                            </ion-row>

                            <ion-row>
                                <ion-col col-4 text-left>Conquistas</ion-col>
                                <ion-col text-right *ngFor="let dia of patrulha.val.pontos.dia | mapToIterableSorted">
                                    {{dia.val.conquistas}}
                                </ion-col>
                                <ion-col text-right class="total-linha">{{ patrulha.val.totais.totalConquistas }}</ion-col>
                            </ion-row>
                            <ion-row>
                                <ion-col col-4 text-left>Extras</ion-col>
                                <ion-col text-right *ngFor="let dia of patrulha.val.pontos.dia | mapToIterableSorted">
                                    {{dia.val.extras}}
                                </ion-col>
                                <ion-col text-right class="total-linha">{{ patrulha.val.totais.totalExtras }}</ion-col>
                            </ion-row>
                            <ion-row>
                                <ion-col col-4 text-left>Penalidade</ion-col>
                                <ion-col text-right *ngFor="let dia of patrulha.val.pontos.dia | mapToIterableSorted" [ngClass]="{'penalidade': dia.val.penalidade < 0}">
                                    {{dia.val.penalidade}}
                                </ion-col>
                                <ion-col text-right class="total-linha" [ngClass]="{'penalidade': patrulha.val.totais.totalPenalidade < 0}">{{ patrulha.val.totais.totalPenalidade }}</ion-col>
                            </ion-row>
                            <ion-row>
                                <ion-col col-4 text-left>Atividade Externa</ion-col>
                                <ion-col text-right *ngFor="let dia of patrulha.val.pontos.dia | mapToIterableSorted">
                                    {{dia.val.atividadeExterna}}
                                </ion-col>
                                <ion-col text-right class="total-linha">{{ patrulha.val.totais.totalAtividadeExterna }}</ion-col>
                            </ion-row>

                            <ion-row>
                                <ion-col col-4 text-left>&nbsp;</ion-col>
                                <ion-col text-right *ngFor="let dia of patrulha.val.pontos.dia | mapToIterableSorted" [ngClass]="{'penalidade': patrulha.val.totais.totalDiaExtras[dia.key] < 0}">
                                    &nbsp;
                                </ion-col>
                                <ion-col class="total-linha">&nbsp;</ion-col>
                            </ion-row>
                            <ion-row>
                                <ion-col col-4 text-left>&nbsp;</ion-col>
                                <ion-col text-right *ngFor="let dia of patrulha.val.pontos.dia | mapToIterableSorted" [ngClass]="{'penalidade': patrulha.val.totais.totalDiaExtras[dia.key] < 0}">
                                    &nbsp;
                                </ion-col>
                                <ion-col class="total-linha">&nbsp;</ion-col>
                            </ion-row>

                            <ion-row class="total">
                                <ion-col col-4 text-left>Total</ion-col>
                                <ion-col text-right *ngFor="let dia of patrulha.val.pontos.dia | mapToIterableSorted" [ngClass]="{'penalidade': patrulha.val.totais.totalDiaExtras[dia.key] < 0}">
                                    {{ patrulha.val.totais.totalDiaExtras[dia.key] }}
                                </ion-col>
                                <ion-col text-right class="total total-geral">
                                    {{ patrulha.val.totais.totalGeralExtras}}
                                </ion-col>
                            </ion-row>
                        </ion-grid>

                        <ion-grid *ngSwitchCase="'mensal'">
                            <ion-row>
                                <ion-col col-8 text-left>Material de Patrulha</ion-col>
                                <ion-col col-2></ion-col>
                                <ion-col text-right col-2>{{patrulha.val.pontos.materialPatrulha}}</ion-col>
                            </ion-row>
                            <ion-row>
                                <ion-col col-8 text-left>Canto Virtual de Patrulha</ion-col>
                                <ion-col></ion-col>
                                <ion-col text-right>{{patrulha.val.pontos.cantoPatrulhaVirtual}}</ion-col>
                            </ion-row>
                            <ion-row>
                                <ion-col col-8 text-left>Livros de Patrulha</ion-col>
                                <ion-col></ion-col>
                                <ion-col text-right>{{patrulha.val.pontos.livrosPatrulha}}</ion-col>
                            </ion-row>

                            <ion-row class="total">
                                <ion-col col-8></ion-col>
                                <ion-col></ion-col>
                                <ion-col col-2 text-right class="total total-geral">
                                    {{ patrulha.val.totais.totalGeralMensal }}
                                </ion-col>
                            </ion-row>

                            <ion-row class="fake">
                                <ion-col col-8 text-left>&nbsp;</ion-col>
                                <ion-col></ion-col>
                                <ion-col text-right>&nbsp;</ion-col>
                            </ion-row>
                            <ion-row class="fake">
                                <ion-col col-8 text-left>&nbsp;</ion-col>
                                <ion-col></ion-col>
                                <ion-col text-right>&nbsp;</ion-col>
                            </ion-row>
                            <ion-row class="fake">
                                <ion-col col-8 text-left>&nbsp;</ion-col>
                                <ion-col></ion-col>
                                <ion-col text-right>&nbsp;</ion-col>
                            </ion-row>
                            <ion-row class="fake">
                                <ion-col col-8 text-left>&nbsp;</ion-col>
                                <ion-col></ion-col>
                                <ion-col text-right>&nbsp;</ion-col>
                            </ion-row>
                            <ion-row class="fake">
                                <ion-col col-8 text-left>&nbsp;</ion-col>
                                <ion-col></ion-col>
                                <ion-col text-right>&nbsp;</ion-col>
                            </ion-row>
                            <ion-row class="fake">
                                <ion-col col-8 text-left>&nbsp;</ion-col>
                                <ion-col></ion-col>
                                <ion-col text-right>&nbsp;</ion-col>
                            </ion-row>
                        </ion-grid>
                    </div>
                </ion-card-content>
            </ion-card>
        </ion-slide>
    </ion-slides>
</ion-content>