<ion-header>

    <ion-navbar>
        <ion-title>Torneio de eficiência</ion-title>
    </ion-navbar>

</ion-header>


<ion-content>
    <ion-card>
        <ion-card-header>
            <ion-item class="barra-mes">
                <ion-avatar item-start>
                    <img [src]="patrulha.avatar">
                    <p>{{patrulha.nome}}</p>
                </ion-avatar>
                <h2>{{ciclo}}</h2>
            </ion-item>
        </ion-card-header>

        <ion-card-content>
            <progress-bar progress="{{ totalPontos }}" maximum="{{ maxPontos }}" color="{{ patrulha.cor }}"></progress-bar>

            <div padding>
                <ion-segment [(ngModel)]="subGrupo">
                    <ion-segment-button primary value="reuniao">
                        Reunião
                    </ion-segment-button>
                    <ion-segment-button primary value="extras">
                        Extras
                    </ion-segment-button>
                    <ion-segment-button primary value="mensal">
                        Mensal
                    </ion-segment-button>
                </ion-segment>
            </div>

            <div [ngSwitch]="subGrupo">
                <ion-grid *ngSwitchCase="'reuniao'">
                    <ion-row class="header">
                        <ion-col col-4> </ion-col>
                        <ion-col text-right *ngFor="let dia of pontuacao.pontos.porDia">
                            {{dia.id}}
                        </ion-col>
                        <ion-col text-right col-2 class="total">&nbsp;&nbsp;</ion-col>
                    </ion-row>
                    <ion-row>
                        <ion-col col-4>Pontualidade</ion-col>
                        <ion-col text-right *ngFor="let dia of pontuacao.pontos.porDia">
                            {{dia.pontualidade}}
                        </ion-col>
                        <ion-col text-right col-2 class="total">{{ totalPontualidade }}</ion-col>
                    </ion-row>
                    <ion-row>
                        <ion-col col-4>Presença</ion-col>
                        <ion-col text-right *ngFor="let dia of pontuacao.pontos.porDia">
                            {{dia.presenca}}
                        </ion-col>
                        <ion-col text-right col-2 class="total">{{ totalPresenca }}</ion-col>
                    </ion-row>
                    <ion-row>
                        <ion-col col-4>Vestuário</ion-col>
                        <ion-col text-right *ngFor="let dia of pontuacao.pontos.porDia">
                            {{dia.vestuario}}
                        </ion-col>
                        <ion-col text-right col-2 class="total">{{ totalVestuario }}</ion-col>
                    </ion-row>
                    <ion-row>
                        <ion-col col-4>Participação</ion-col>
                        <ion-col text-right *ngFor="let dia of pontuacao.pontos.porDia">
                            {{dia.participacao}}
                        </ion-col>
                        <ion-col text-right col-2 class="total">{{ totalParticipacao }}</ion-col>
                    </ion-row>
                    <ion-row>
                        <ion-col col-4>Espírito Escoteiro</ion-col>
                        <ion-col text-right *ngFor="let dia of pontuacao.pontos.porDia">
                            {{dia.espiritoEscoteiro}}
                        </ion-col>
                        <ion-col text-right col-2 class="total">{{ totalEspiritoEscoteiro }}</ion-col>
                    </ion-row>
                    <ion-row>
                        <ion-col col-4>Jogo Técnico</ion-col>
                        <ion-col text-right *ngFor="let dia of pontuacao.pontos.porDia">
                            {{dia.jogoTecnico}}
                        </ion-col>
                        <ion-col text-right col-2 class="total">{{ totalJogoTecnico }}</ion-col>
                    </ion-row>
                    <ion-row class="total">
                        <ion-col col-4></ion-col>
                        <ion-col text-right *ngFor="let dia of pontuacao.pontos.porDia">
                            {{ totalDiaReuniao[dia.id] }}
                        </ion-col>
                        <ion-col text-right col-2 class="total total-geral">
                            {{ totalGeralReuniao}}
                        </ion-col>
                    </ion-row>
                </ion-grid>

                <ion-grid *ngSwitchCase="'extras'">
                    <ion-row class="header">
                        <ion-col col-4> </ion-col>
                        <ion-col text-right *ngFor="let dia of pontuacao.pontos.porDia">
                            {{dia.id}}
                        </ion-col>
                        <ion-col text-right col-2 class="total"></ion-col>
                    </ion-row>
                    <ion-row>
                        <ion-col col-4>Conquistas</ion-col>
                        <ion-col text-right *ngFor="let dia of pontuacao.pontos.porDia">
                            {{dia.conquistas}}
                        </ion-col>
                        <ion-col text-right col-2 class="total">{{ totalConquistas }}</ion-col>
                    </ion-row>
                    <ion-row>
                        <ion-col col-4>Extras</ion-col>
                        <ion-col text-right *ngFor="let dia of pontuacao.pontos.porDia">
                            {{dia.extras}}
                        </ion-col>
                        <ion-col text-right col-2 class="total">{{ totalExtras }}</ion-col>
                    </ion-row>
                    <ion-row>
                        <ion-col col-4>Penalidade</ion-col>
                        <ion-col text-right *ngFor="let dia of pontuacao.pontos.porDia" class="penalidade">
                            {{dia.penalidade}}
                        </ion-col>
                        <ion-col text-right col-2 class="total penalidade">{{ totalPenalidade }}</ion-col>
                    </ion-row>
                    <ion-row>
                        <ion-col col-4>Atividade Externa</ion-col>
                        <ion-col text-right *ngFor="let dia of pontuacao.pontos.porDia">
                            {{dia.atividadeExterna}}
                        </ion-col>
                        <ion-col text-right col-2 class="total">{{ totalAtividadeExterna }}</ion-col>
                    </ion-row>
                    <ion-row class="total">
                        <ion-col col-4></ion-col>
                        <ion-col text-right *ngFor="let dia of pontuacao.pontos.porDia">
                            {{ totalDiaExtras[dia.id] }}
                        </ion-col>
                        <ion-col text-right col-2 class="total total-geral">
                            {{ totalGeralExtras}}
                        </ion-col>
                    </ion-row>
                </ion-grid>

                <ion-grid *ngSwitchCase="'mensal'">
                    <ion-row>
                        <ion-col col-8>Material Patrulha</ion-col>
                        <ion-col col-2></ion-col>
                        <ion-col text-right col-2>{{pontuacao.pontos.materialPatrulha}}</ion-col>
                    </ion-row>
                    <ion-row>
                        <ion-col col-8>Canto Patrulha Virtual</ion-col>
                        <ion-col col-2></ion-col>
                        <ion-col text-right col-2>{{pontuacao.pontos.cantoPatrulhaVirtual}}</ion-col>
                    </ion-row>
                    <ion-row>
                        <ion-col col-8>Livros Patrulha</ion-col>
                        <ion-col col-2></ion-col>
                        <ion-col text-right col-2>{{pontuacao.pontos.livrosPatrulha}}</ion-col>
                    </ion-row>
                    <ion-row class="total">
                        <ion-col col-8></ion-col>
                        <ion-col col-2></ion-col>
                        <ion-col text-right col-2 class="total total-geral">
                            {{ totalGeralMensal }}
                        </ion-col>
                    </ion-row>
                </ion-grid>
            </div>
        </ion-card-content>
    </ion-card>
</ion-content>