<ion-header>
    <ion-navbar primary>
        <ion-toolbar>
            <ion-title>Torneio de eficiência</ion-title>
            <ion-buttons end>
                <!--
                <button ion-button large color="primary" (click)="help($event)">
                  <ion-icon  name="help"></ion-icon>
                </button>
              -->
                <button ion-button large color="primary" (click)="refresh($event)">
                  <ion-icon  name="refresh"></ion-icon>
                </button>
            </ion-buttons>
        </ion-toolbar>
    </ion-navbar>
</ion-header>

<ion-content>
    <ion-slides #slides pager="false" effect="slide" loop="false" zoom="false" direction="horizontal" [initialSlide]="slideInicial">
        <ion-slide *ngFor="let patrulha of ciclo.patrulhaArray" no-padding>
            <ion-grid fixed>
                <ion-card no-padding>
                    <ion-card-header no-padding>
                        <ion-item class="barra-mes">
                            <h2 text-center>{{ciclo.nome}}</h2>
                        </ion-item>
                    </ion-card-header>
                    <ion-item padding-horizontal>
                        <ion-avatar item-start>
                            <img [src]="patrulha.avatar">
                            <p>{{patrulha.nome}}</p>
                        </ion-avatar>
                        <progress-bar no-padding progress="{{ patrulha.totais.geral }}" maximum="{{ ciclo.maxPontos }}" color="{{ patrulha.cor }}"></progress-bar>
                    </ion-item>

                    <ion-card-content no-padding>
                        <div class="grupos" no-padding no-margin>
                            <ion-row class="grupos">
                                <ion-col no-padding>
                                    <button ion-button small full no-margin clear="{{ subGrupo != 'reuniao' }}" (click)="setGrupo('reuniao')">Reunião</button>
                                </ion-col>
                                <ion-col no-padding>
                                    <button ion-button small full no-margin clear="{{ subGrupo != 'extras' }}" (click)="setGrupo('extras')">Extras</button>
                                </ion-col>
                                <ion-col no-padding>
                                    <button ion-button small full no-margin clear="{{ subGrupo != 'mensal' }}" (click)="setGrupo('mensal')">Mensal</button>
                                </ion-col>
                            </ion-row>
                        </div>

                        <div [ngSwitch]="subGrupo">
                            <ion-grid *ngSwitchCase="'reuniao'">
                                <ion-row class="header">
                                    <ion-col col-4 text-right>DIAS</ion-col>
                                    <ion-col text-right *ngFor="let dia of patrulha.pontos.diasArray">
                                        {{dia.id}}
                                    </ion-col>
                                    <ion-col text-right class="total">&nbsp;&nbsp;</ion-col>
                                </ion-row>
                                <ion-row>
                                    <ion-col col-4 text-left (click)="helpItem($event, 'pontualidade')">Pontualidade</ion-col>
                                    <ion-col text-right *ngFor="let dia of patrulha.pontos.diasArray">
                                        {{dia.pontualidade}}
                                    </ion-col>
                                    <ion-col text-right class="total-linha">{{ patrulha.totais.totalPontualidade }}</ion-col>
                                </ion-row>
                                <ion-row>
                                    <ion-col col-4 text-left (click)="helpItem($event, 'presenca')">Presença</ion-col>
                                    <ion-col text-right *ngFor="let dia of patrulha.pontos.diasArray">
                                        {{dia.presenca}}
                                    </ion-col>
                                    <ion-col text-right class="total-linha">{{ patrulha.totais.totalPresenca }}</ion-col>
                                </ion-row>
                                <ion-row>
                                    <ion-col col-4 text-left (click)="helpItem($event, 'vestuario')">Inspeção</ion-col>
                                    <ion-col text-right *ngFor="let dia of patrulha.pontos.diasArray">
                                        {{dia.vestuario}}
                                    </ion-col>
                                    <ion-col text-right class="total-linha">{{ patrulha.totais.totalVestuario }}</ion-col>
                                </ion-row>
                                <ion-row>
                                    <ion-col col-4 text-left (click)="helpItem($event, 'participacao')">Participação</ion-col>
                                    <ion-col text-right *ngFor="let dia of patrulha.pontos.diasArray">
                                        {{dia.participacao}}
                                    </ion-col>
                                    <ion-col text-right class="total-linha">{{ patrulha.totais.totalParticipacao }}</ion-col>
                                </ion-row>
                                <ion-row>
                                    <ion-col col-4 text-left (click)="helpItem($event, 'espiritoEscoteiro')">Espírito Escoteiro</ion-col>
                                    <ion-col text-right *ngFor="let dia of patrulha.pontos.diasArray">
                                        {{dia.espiritoEscoteiro}}
                                    </ion-col>
                                    <ion-col text-right class="total-linha">{{ patrulha.totais.totalEspiritoEscoteiro }}</ion-col>
                                </ion-row>
                                <ion-row>
                                    <ion-col col-4 text-left (click)="helpItem($event, 'jogoTecnico')">Jogo Técnico</ion-col>
                                    <ion-col text-right *ngFor="let dia of patrulha.pontos.diasArray">
                                        {{dia.jogoTecnico}}
                                    </ion-col>
                                    <ion-col text-right class="total-linha">{{ patrulha.totais.totalJogoTecnico }}</ion-col>
                                </ion-row>
                                <ion-row class="total">
                                    <ion-col col-4 text-right>Total</ion-col>
                                    <ion-col text-right *ngFor="let dia of patrulha.pontos.diasArray">
                                        {{ patrulha.totais.totalDiaReuniao[dia.id] }}
                                    </ion-col>
                                    <ion-col text-right class="total total-geral">
                                        {{ patrulha.totais.totalGeralReuniao}}
                                    </ion-col>
                                </ion-row>
                            </ion-grid>

                            <ion-grid *ngSwitchCase="'extras'">
                                <ion-row class="header">
                                    <ion-col col-4 text-right>DIAS</ion-col>
                                    <ion-col text-right *ngFor="let dia of patrulha.pontos.diasArray">
                                        {{dia.id}}
                                    </ion-col>
                                    <ion-col text-right class="total">&nbsp;&nbsp;</ion-col>
                                </ion-row>

                                <ion-row>
                                    <ion-col col-4 text-left (click)="helpItem($event, 'conquistas')">Conquistas</ion-col>
                                    <ion-col text-right *ngFor="let dia of patrulha.pontos.diasArray">
                                        {{dia.conquistas}}
                                    </ion-col>
                                    <ion-col text-right class="total-linha">{{ patrulha.totais.totalConquistas }}</ion-col>
                                </ion-row>
                                <ion-row>
                                    <ion-col col-4 text-left (click)="helpItem($event, 'extras')">Extras</ion-col>
                                    <ion-col text-right *ngFor="let dia of patrulha.pontos.diasArray">
                                        {{dia.extras}}
                                    </ion-col>
                                    <ion-col text-right class="total-linha">{{ patrulha.totais.totalExtras }}</ion-col>
                                </ion-row>
                                <ion-row>
                                    <ion-col col-4 text-left (click)="helpItem($event, 'penalidade')">Penalidade</ion-col>
                                    <ion-col text-right *ngFor="let dia of patrulha.pontos.diasArray" [ngClass]="{'penalidade': dia.penalidade < 0}">
                                        {{dia.penalidade}}
                                    </ion-col>
                                    <ion-col text-right class="total-linha" [ngClass]="{'penalidade': patrulha.totais.totalPenalidade < 0}">{{ patrulha.totais.totalPenalidade }}</ion-col>
                                </ion-row>
                                <ion-row>
                                    <ion-col col-4 text-left (click)="helpItem($event, 'atividadeExterna')">Atividade Externa</ion-col>
                                    <ion-col text-right *ngFor="let dia of patrulha.pontos.diasArray">
                                        {{dia.atividadeExterna}}
                                    </ion-col>
                                    <ion-col text-right class="total-linha">{{ patrulha.totais.totalAtividadeExterna }}</ion-col>
                                </ion-row>

                                <ion-row class="fake">
                                    <ion-col col-4 text-left>&nbsp;</ion-col>
                                    <ion-col text-right *ngFor="let dia of patrulha.pontos.diasArray" [ngClass]="{'penalidade': patrulha.totais.totalDiaExtras[dia.id] < 0}">
                                        &nbsp;
                                    </ion-col>
                                    <ion-col>&nbsp;</ion-col>
                                </ion-row>
                                <ion-row class="fake">
                                    <ion-col col-4 text-left>&nbsp;</ion-col>
                                    <ion-col text-right *ngFor="let dia of patrulha.pontos.diasArray" [ngClass]="{'penalidade': patrulha.totais.totalDiaExtras[dia.id] < 0}">
                                        &nbsp;
                                    </ion-col>
                                    <ion-col>&nbsp;</ion-col>
                                </ion-row>

                                <ion-row class="total">
                                    <ion-col col-4 text-right>Total</ion-col>
                                    <ion-col text-right *ngFor="let dia of patrulha.pontos.diasArray" [ngClass]="{'penalidade': patrulha.totais.totalDiaExtras[dia.id] < 0}">
                                        {{ patrulha.totais.totalDiaExtras[dia.id] }}
                                    </ion-col>
                                    <ion-col text-right class="total total-geral">
                                        {{ patrulha.totais.totalGeralExtras}}
                                    </ion-col>
                                </ion-row>
                            </ion-grid>

                            <ion-grid *ngSwitchCase="'mensal'">
                                <ion-row class="header">
                                    <ion-col col-4 text-right></ion-col>
                                    <ion-col text-right *ngFor="let dia of patrulha.pontos.diasArray">
                                        &nbsp;
                                    </ion-col>
                                    <ion-col text-right class="total">&nbsp;&nbsp;</ion-col>
                                </ion-row>

                                <ion-row>
                                    <ion-col col-8 text-left (click)="helpItem($event, 'materialPatrulha')">Material de Patrulha</ion-col>
                                    <ion-col col-2></ion-col>
                                    <ion-col text-right col-2>{{patrulha.pontos.materialPatrulha}}</ion-col>
                                </ion-row>
                                <ion-row>
                                    <ion-col col-8 text-left (click)="helpItem($event, 'cantoPatrulhaVirtual')">Canto Virtual de Patrulha</ion-col>
                                    <ion-col></ion-col>
                                    <ion-col text-right>{{patrulha.pontos.cantoPatrulhaVirtual}}</ion-col>
                                </ion-row>
                                <ion-row>
                                    <ion-col col-8 text-left (click)="helpItem($event, 'livrosPatrulha')">Livros de Patrulha</ion-col>
                                    <ion-col></ion-col>
                                    <ion-col text-right>{{patrulha.pontos.livrosPatrulha}}</ion-col>
                                </ion-row>


                                <ion-row class="fake">
                                    <ion-col col-8 text-left>&nbsp;</ion-col>
                                    <ion-col></ion-col>
                                    <ion-col text-right>&nbsp;</ion-col>
                                </ion-row>
                                <ion-row class="fake">
                                    <ion-col col-8 text-left>&nbsp;</ion-col>
                                    <ion-col></ion-col>
                                    <ion-col text-right>&nbsp;</ion-col>
                                </ion-row>
                                <ion-row class="fake">
                                    <ion-col col-8 text-left>&nbsp;</ion-col>
                                    <ion-col></ion-col>
                                    <ion-col text-right>&nbsp;</ion-col>
                                </ion-row>

                                <ion-row class="total">
                                    <ion-col col-8></ion-col>
                                    <ion-col></ion-col>
                                    <ion-col col-2 text-right class="total total-geral">
                                        {{ patrulha.totais.totalGeralMensal }}
                                    </ion-col>
                                </ion-row>
                            </ion-grid>
                        </div>
                    </ion-card-content>
                </ion-card>
            </ion-grid>
        </ion-slide>
    </ion-slides>
</ion-content>