page-ciclo-detalhe {
    * {
        font-size: .95em;
    }
    .toolbar-background {
        background-color: #000066;
    }
    .toolbar-title {
        color: white;
    }
    .barra-mes {
        background: #E7C901; //#FFDE00;
    }
    .scroll-content {
        background-image: url('../assets/img/floresta-da-tijuca.jpg');
        background-repeat: no-repeat;
        background-size: cover;
    }
    .header {
        background-color: lightgrey;
    }
    .total {
        font-weight: bold;
    }
    .row:not(.total) {
        border-bottom: solid 1px lightgrey;
    }
}