<ion-header>

    <ion-navbar primary>
        <ion-title>Torneio de eficiência</ion-title>
    </ion-navbar>

</ion-header>

<ion-content>
    <ion-grid>
        <ion-row *ngFor="let item of torneioItems | mapToIterable | reverse">
            <ion-card>
                <ion-card-header no-padding>
                    <ion-item class="barra-mes">
                        <h2 text-center>{{item.val.nome}}</h2>
                    </ion-item>
                </ion-card-header>
                <ion-card-content no-padding>
                    <ion-item *ngFor="let patrulha of item.val.patrulha | mapToIterable" [ngClass]="{ topo : patrulha.val.topo }">
                        <ion-avatar item-start>
                            <img [src]="patrulha.val.avatar">
                            <p>{{patrulha.val.nome}}</p>
                        </ion-avatar>
                        <p>
                            <progress-bar progress="{{patrulha.val.totais.geral}}" maximum="{{item.val.maxPontos}}" color="{{patrulha.val.cor}}" (barClicked)="barClicked($event, item.key, patrulha.key)"></progress-bar>
                        </p>
                    </ion-item>
                </ion-card-content>
            </ion-card>
        </ion-row>
    </ion-grid>
</ion-content>