<ion-header>

    <ion-navbar primary>
        <ion-title>Torneio de eficiência</ion-title>
    </ion-navbar>

</ion-header>

<ion-content>
    <ion-slides #slideMgr pager="true" initialSlide="{{ initialSlide }}">
        <ion-slide *ngFor="let item of torneioItems | mapToIterable">
            <ion-card>
                <ion-item class="barra-mes">
                    <h2 text-center>{{item.val.nome}}</h2>
                </ion-item>

                <ion-card-content>
                    <ion-row *ngFor="let patrulha of item.val.patrulha | mapToIterable">
                        <ion-item [ngClass]="{ topo: patrulha.val.topo }">
                            <ion-avatar item-start>
                                <img [src]="patrulha.val.avatar">
                                <p>{{patrulha.val.nome}}</p>
                            </ion-avatar>
                            <p>
                                <progress-bar progress="{{patrulha.val.totais.geral}}" maximum="{{item.val.maxPontos}}" color="{{patrulha.val.cor}}" (barClicked)="barClicked($event, item.key, patrulha.key)"></progress-bar>
                            </p>
                        </ion-item>
                    </ion-row>
                </ion-card-content>
            </ion-card>
        </ion-slide>
    </ion-slides>
</ion-content>