page-torneio {
    .barra-mes {
        background: #E7C901;
    }
    .small-text {
        font-size: 0.3em;
    }
    .topo {
        background: rgb(241, 238, 238);
        margin-top: 5px;
    }
    .logo {
        max-width: 32px;
        max-height: 32px;
        display: inline;
    }
    ion-label {
        width: 100%;
    }
}