page-torneio-detalhe {
    * {
        font-size: .97em;
    }
    .barra-mes {
        background: #E7C901; //#FFDE00;
    }
    div.grupos .row {
        background-color: whitesmoke;
    }
    .row.linha {
        border-bottom: solid 1px lightgrey;
    }
    .label-ios {
        margin: 0;
        padding: 0;
    }
    .header {
        background-color: lightgrey;
        font-weight: bold;
    }
    .penalidade {
        color: red;
    }
    .total {
        background-color: lightgrey;
        font-weight: bold;
    }
    .total-linha {
        border-left: solid 1px lightgrey;
        font-weight: bold;
    }
    .total-geral {
        font-weight: bold;
        color: white;
        background-color: map-get($colors, primary);
    }
    ion-label {
        width: 100%;
    }
}