page-help {
    .toolbar-background {
        background-color: #000066;
    }
    .toolbar-title {
        color: white;
    }
    .scroll-content {
        background-image: url('../assets/img/floresta-da-tijuca.jpg');
        background-repeat: no-repeat;
        background-size: cover;
    }
    .header {
        background: #E7C901;
    }
}