// http://ionicframework.com/docs/theming/
// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.
.app-background {
    background-image: url('../assets/img/floresta-da-tijuca.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

@media (max-width: #{map-get($grid-breakpoints, sm)}) {
    .hidden-sm-down,
    [hidden-sm-down] {
        display: none !important;
    }
}

@media (max-width: #{map-get($grid-breakpoints, md)}) {
    .hidden-md-down,
    [hidden-md-down] {
        display: none !important;
    }
}

@media (max-width: #{map-get($grid-breakpoints, lg)}) {
    .hidden-lg-down,
    [hidden-lg-down] {
        display: none !important;
    }
}

@media (max-width: #{map-get($grid-breakpoints, xl)}) {
    .hidden-xl-down,
    [hidden-xl-down] {
        display: none !important;
    }
}