<ion-header>
    <ion-navbar primary>
        <ion-toolbar>
            <ion-title>Inspeção</ion-title>
            <ion-buttons end>
                <!--
              <button ion-button large color="primary" (click)="help($event)">
                <ion-icon  name="help"></ion-icon>
              </button>
            -->
                <button ion-button large color="primary" (click)="refresh($event)">
                <ion-icon  name="refresh"></ion-icon>
              </button>
            </ion-buttons>
        </ion-toolbar>
    </ion-navbar>
</ion-header>


<ion-content no-padding>
    <ion-card *ngFor="let patrulha of inspecao" no-padding>
        <ion-card-header class="inspecao-header" no-padding no-margin>
            <ion-grid no-padding no-margin>
                <ion-row no-padding no-margin>
                    <ion-col col-auto>
                        <ion-item>
                            <ion-badge item-start>{{ quantos(patrulha) }}</ion-badge>
                            <ion-label>{{ patrulha.nome }}</ion-label>
                        </ion-item>
                    </ion-col>
                    <ion-col col-auto>
                        <ion-item>
                            <ion-checkbox id="check-bastao" [(ngModel)]="patrulha.bastao"></ion-checkbox>
                            <ion-label fixed>Bastão?</ion-label>
                        </ion-item>
                    </ion-col>
                </ion-row>
            </ion-grid>
        </ion-card-header>
        <ion-card-content no-padding no-margin>
            <ion-grid>
                <ion-row *ngFor="let jovem of patrulha.jovens">
                    <ion-col col-2 col-sm-auto text-center>
                        <ion-thumbnail class="foto" (click)="jovemPresenteToggle(jovem)">
                            <img src="{{jovem.avatar}}">
                        </ion-thumbnail>
                    </ion-col>
                    <ion-col>
                        <ion-grid no-padding no-margin>
                            <ion-row>
                                <ion-col col-auto>
                                    <ion-label class="jovem" no-margin>{{ jovem.nome }}</ion-label>
                                </ion-col>
                            </ion-row>
                            <ion-row>
                                <ion-col col-auto>
                                    <ion-grid no-padding no-margin>
                                        <ion-row class="inspecao">
                                            <ion-col col-auto>
                                                <ion-label>
                                                    <img class="check-icon" src="assets/img/flaticon/badge.svg">
                                                </ion-label>
                                            </ion-col>
                                            <ion-col col-auto>
                                                <button ion-button small icon-only (click)="jovemComDistintivo(jovem)">
                                                <ion-icon name="remove"></ion-icon>
                                              </button>
                                                <div class="distintivos">
                                                    <p text-right>{{ jovem.distintivos }}</p>
                                                </div>
                                                <button ion-button small icon-only (click)="jovemSemDistintivo(jovem)">
                                                <ion-icon name="add"></ion-icon>
                                              </button>
                                            </ion-col>
                                            <ion-col col-auto margin-left>
                                                <ion-label>
                                                    <img class="check-icon" src="assets/img/flaticon/pen.svg">
                                                </ion-label>
                                            </ion-col>
                                            <ion-col col-auto>
                                                <ion-label>
                                                    <img class="check-icon" src="assets/img/flaticon/shirt-and-tie.svg">
                                                </ion-label>
                                            </ion-col>
                                            <ion-col col-auto>
                                                <ion-label>
                                                    <img class="check-icon" src="assets/img/flaticon/shirt.svg">
                                                </ion-label>
                                            </ion-col>
                                        </ion-row>
                                    </ion-grid>
                                </ion-col>
                            </ion-row>
                        </ion-grid>
                    </ion-col>
                </ion-row>
            </ion-grid>
        </ion-card-content>
    </ion-card>
</ion-content>