app-header {
    .app-header {
        * {
            color: white;
            background-color: #000066;
            border: none !important;
        }
    }
    .app-icon {
        height: 3em;
    }
    display: block;
}