<ion-navbar class="app-header" primary>
    <ion-toolbar>
        <ion-grid no-padding>
            <ion-row>
                <ion-col col-auto>
                    <ion-item>
                        <ion-title>GE80</ion-title>
                    </ion-item>
                </ion-col>
                <ion-col>
                </ion-col>
                <ion-col col-auto>
                    <ion-item *ngIf="loggedIn">
                        <ion-avatar item-start>
                            <img src="{{ photoURL }}">
                        </ion-avatar>
                        <label>{{ name }}</label>
                    </ion-item>
                    <ion-item *ngIf="loggedOut">
                        <label>{{ name }}</label>
                    </ion-item>

                </ion-col>
                <ion-col col-auto>
                    <ion-buttons>
                        <button ion-button large color="primary"> <!--(click)="reload($event)"> -->
                        <ion-icon  name="refresh"></ion-icon>
                      </button>
                        <button *ngIf="loggedOut" ion-button large color="primary" (click)="login($event)">
                        <ion-icon  name="log-in"></ion-icon>
                      </button>
                        <button *ngIf="loggedIn" ion-button large color="primary" (click)="logout($event)">
                        <ion-icon  name="log-out"></ion-icon>
                      </button>
                    </ion-buttons>
                </ion-col>
            </ion-row>
        </ion-grid>
    </ion-toolbar>
</ion-navbar>